@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes lol {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes lol {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
div.landing {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.text {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: "Lexend Deca", sans-serif;
}

button.menu-btn {
  position: relative;
  font-family: "Dongle", sans-serif;
  font-size: 28px;
  width: 105px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-color: white;
  border-radius: 8px;
  color: white;
  background-color: #39b6aa;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}
button.menu-btn:hover {
  background-color: #38a499;
}

.main-header {
  font-size: 30px;
}

html, body, main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: calc(100% - 50px);
  height: 50px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #40e0d0;
  padding: 5px;
  margin: 25px;
  z-index: 10;
}

main {
  background-color: #38a499;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.container {
  position: relative;
  width: 600px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
div.container div.background-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-color: #28756D;
  -webkit-box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.65);
}
div.container img.logo {
  position: absolute;
  top: 42.5%;
  left: 51%;
  height: 250%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.45));
          filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.45));
  -o-object-fit: cover;
     object-fit: cover;
}

div.header-container {
  position: relative;
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
div.header-container img.logo-small {
  position: relative;
  top: 42.5%;
  left: 51%;
  width: 50px;
  height: 100%;
  margin-right: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.45));
          filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.45));
  -o-object-fit: contain;
     object-fit: contain;
}
div.header-container img.logo-text {
  position: relative;
  width: 125px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h1.title {
  font-size: 120px;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.45);
}