@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

@keyframes logo-animation {
	0% {
		transform: perspective(1000px) rotateX(-15deg) rotateY(-30deg) rotateZ(0deg);
	}

	100% {
		transform: perspective(1000px) rotateX(15deg) rotateY(30deg) rotateZ(0deg);
	}
}

* {
	box-sizing: border-box;

	transition-duration: 0.5s;
}

:root {
	--color-main: #34a499;
	--color-main-dark: #28756d;
	--color-main-light: #50d3c1;
}

:root.debug {
	* {
		border: 1px dashed red;
	}
}

button.dbg-btn {
	position: fixed;

	bottom: 25px;
	right: 25px;

	border: 2px solid black;

	background-color: white;
	color: black;

	&:hover {
		transform: scale(1);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dongle', sans-serif;
}

p, span, a, button, input, select, textarea, label {
	font-family: 'Lexend Deca', sans-serif;
}

a {
	color: #50d3c1;

	&.icon-link {
		color: white;
	}
}

button {
	position: relative;

	padding: 10px 15px;

	background-color: transparent;

	color: white;

	border: 1px solid transparent;

	cursor: pointer;

	&:hover {
		transform: scale(1.2);

		&::before {
			opacity: 1;

			clip-path: circle(75% at 50% 50%);


		}
	}

	&::before {
		content: '';

		display: block;

		position: absolute;

		top: 0px;
		left: 0px;

		width: 100%;
		height: 100%;

		background-color: rgba(80, 211, 193, 1);

		opacity: 0;

		clip-path: circle(0% at 50% 50%);

		transition-duration: 0.5s;

		z-index: -1;
	}
}

html, body, main {
	position: relative;

	width: 100%;
	min-height: 100vh;

	background-color: var(--color-main);
	color: whitesmoke;

	margin: 0px;
}

header {
	position: fixed;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100px;

	padding: 0px 25px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background-color: transparent;

	border-radius: 0px;

	z-index: 100;

	&.scrolled {
		width: calc(100% - 100px);

		background-color: rgba(80, 214, 195, 0.85);

		backdrop-filter: blur(8px);

		margin: 0px 50px;

		border-radius: 0px 0px 16px 16px;

		button {
			&:hover {
				&::before {
					background-color: rgb(25, 184, 161);
				}
			}
		}
	}

	div.header-container {
		position: relative;

		width: 50%;
		height: 100%;

		display: flex;
		flex-direction: row;
		align-items: center;

		&.left {
			justify-content: flex-start;

			img {
				position: relative;

				height: 85%;

				&.logo-text {
					left: -5px;

					height: 50%;
				}
			}
		}

		&.right {
			justify-content: flex-end;
		}
	}
}

div.main-content {
	position: relative;


	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

div.logo-container {
	position: relative;

	width: 400px;
	height: 400px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--color-main-light);

	border-radius: 32px;

	//animation: logo-animation 2s infinite alternate;

	img {
		width: 300px;
		height: 300px;

		object-fit: contain;

		filter: drop-shadow(0px 0px 32px #ffffff);

		//transform: perspective(1000px) rotateX(-25deg) rotateY(20deg) rotateZ(0deg);

		&.logo-text {
			width: 650px;
			height: auto;

			position: absolute;

			bottom: -75px;
			left: 50%;

			transform: translateX(-50%);
		}
	}
}

div.socials-content {
	position: relative;
	
	width: 90%;
	height: 500px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&:hover {
		h1 {
			bottom: 275px;

			transform: rotateZ(-16deg);
		}

		div.social-posts {
			transform: scale(1.05);
		}
	}

	h1 {
		position: absolute;
		bottom: 200px;

		font-size: 256px;
		line-height: 256px;

		margin: 0px;
	}

	&.instagram {
		div.social-posts {
			div.post-item {
				width: 250px;
			}
		}
	}

	div.social-posts {
		position: relative;

		width: 100%;
		height: 250px;

		padding: 20px;

		border-radius: 8px;

		background-color: var(--color-main-dark);

		white-space: nowrap;

		overflow-x: auto;
		overflow-y: hidden;

		scrollbar-width: none;

		box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);

		div.post-item {
			position: relative;

			width: 325px;
			height: 100%;

			margin-right: 25px;

			&:last-of-type {
				margin-right: 0px;
			}

			display: inline-block;

			background-image: url("../img/ACBF.jpg");
			background-size: cover;

			border-radius: 8px;

			div.post-item-overlay {
				position: absolute;
				top: 0px;
				left: 0px;

				width: 100%;
				height: 100%;

				opacity: 0;

				background-color: rgba(0, 0, 0, 0.75);

				border-radius: 8px;

				div.post-item-action {
					position: relative;

					width: 100%;
					height: 100%;

					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;


					button.item-action-btn {
						position: relative;

						width: 80px;
						height: 80px;

						i {
							font-size: 40px;
						}

						background-color: white;
						color: black;

						border-radius: 50%;

						&::before {
							display: none;
						}
					}
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}