@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap");
@-webkit-keyframes logo-animation {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-15deg) rotateY(-30deg) rotateZ(0deg);
            transform: perspective(1000px) rotateX(-15deg) rotateY(-30deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateX(15deg) rotateY(30deg) rotateZ(0deg);
            transform: perspective(1000px) rotateX(15deg) rotateY(30deg) rotateZ(0deg);
  }
}
@keyframes logo-animation {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-15deg) rotateY(-30deg) rotateZ(0deg);
            transform: perspective(1000px) rotateX(-15deg) rotateY(-30deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateX(15deg) rotateY(30deg) rotateZ(0deg);
            transform: perspective(1000px) rotateX(15deg) rotateY(30deg) rotateZ(0deg);
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

:root {
  --color-main: #34a499;
  --color-main-dark: #28756d;
  --color-main-light: #50d3c1;
}

:root.debug * {
  border: 1px dashed red;
}

button.dbg-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border: 2px solid black;
  background-color: white;
  color: black;
}
button.dbg-btn:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dongle", sans-serif;
}

p, span, a, button, input, select, textarea, label {
  font-family: "Lexend Deca", sans-serif;
}

a {
  color: #50d3c1;
}
a.icon-link {
  color: white;
}

button {
  position: relative;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
}
button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
button:hover::before {
  opacity: 1;
  clip-path: circle(75% at 50% 50%);
}
button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(80, 211, 193);
  opacity: 0;
  clip-path: circle(0% at 50% 50%);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  z-index: -1;
}

html, body, main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-main);
  color: whitesmoke;
  margin: 0px;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border-radius: 0px;
  z-index: 100;
}
header.scrolled {
  width: calc(100% - 100px);
  background-color: rgba(80, 214, 195, 0.85);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  margin: 0px 50px;
  border-radius: 0px 0px 16px 16px;
}
header.scrolled button:hover::before {
  background-color: rgb(25, 184, 161);
}
header div.header-container {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header div.header-container.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header div.header-container.left img {
  position: relative;
  height: 85%;
}
header div.header-container.left img.logo-text {
  left: -5px;
  height: 50%;
}
header div.header-container.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.logo-container {
  position: relative;
  width: 400px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-main-light);
  border-radius: 32px;
}
div.logo-container img {
  width: 300px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: drop-shadow(0px 0px 32px #ffffff);
          filter: drop-shadow(0px 0px 32px #ffffff);
}
div.logo-container img.logo-text {
  width: 650px;
  height: auto;
  position: absolute;
  bottom: -75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

div.socials-content {
  position: relative;
  width: 90%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.socials-content:hover h1 {
  bottom: 275px;
  -webkit-transform: rotateZ(-16deg);
          transform: rotateZ(-16deg);
}
div.socials-content:hover div.social-posts {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
div.socials-content h1 {
  position: absolute;
  bottom: 200px;
  font-size: 256px;
  line-height: 256px;
  margin: 0px;
}
div.socials-content.instagram div.social-posts div.post-item {
  width: 250px;
  background-image: url("../img/instagram-p1.jpg");
  background-size: 200%;
  background-position: center center;
}
div.socials-content.instagram div.social-posts div.post-item:nth-child(2) {
  background-image: url("../img/instagram-p2.jpg");
}
div.socials-content.instagram div.social-posts div.post-item:nth-child(3) {
  background-image: url("../img/instagram-p3.jpg");
}
div.socials-content.instagram div.social-posts div.post-item:nth-child(4) {
  background-image: url("../img/instagram-p4.jpg");
}
div.socials-content div.social-posts {
  position: relative;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color-main-dark);
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  -webkit-box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);
}
div.socials-content div.social-posts div.post-item {
  position: relative;
  width: 325px;
  height: 100%;
  margin-right: 25px;
  display: inline-block;
  background-image: url("../img/ACBF.jpg");
  background-size: cover;
  border-radius: 8px;
}
div.socials-content div.social-posts div.post-item:last-of-type {
  margin-right: 0px;
}
div.socials-content div.social-posts div.post-item:nth-child(2) {
  background-image: url("../img/ccc.jpg");
}
div.socials-content div.social-posts div.post-item:nth-child(3) {
  background-image: url("../img/maxresdefault.jpg");
}
div.socials-content div.social-posts div.post-item div.post-item-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}
div.socials-content div.social-posts div.post-item div.post-item-overlay div.post-item-action {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.socials-content div.social-posts div.post-item div.post-item-overlay div.post-item-action button.item-action-btn {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: white;
  color: black;
  border-radius: 50%;
}
div.socials-content div.social-posts div.post-item div.post-item-overlay div.post-item-action button.item-action-btn i {
  font-size: 40px;
}
div.socials-content div.social-posts div.post-item div.post-item-overlay div.post-item-action button.item-action-btn::before {
  display: none;
}
div.socials-content div.social-posts div.post-item div.post-item-overlay:hover {
  opacity: 1;
}